<?xml version="1.0"?>
<model>
  <name>aruco_marker_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Gazebo Panda</name>
    <email>test@todo.todo</email>
  </author>
  <description>
    Aruco marker with ID=1 for visual servoing testing.
    Uses DICT_6X6_250, size 20cm.
  </description>
</model>